on early-init
    device mtd@misc 0460 radio diag

on boot
# unmap left alt to avoid console switch
    setkey 0x0 0x38 0x0
# device reset SEND+MENU+END
    setkey 0x0 0xe7 0x706
    setkey 0x0 0x8b 0x707

    setkey 0x40 0xe7 0x706
    setkey 0x40 0x8b 0x707

    setkey 0x80 0xe7 0x706
    setkey 0x80 0x8b 0x707

    setkey 0xc0 0xe7 0x706
    setkey 0xc0 0x8b 0x707
    setkey 0xc0 0x6b 0x20c

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    #TODO: remove these two once we switch kernel to rfkill interface
    chown bluetooth bluetooth /sys/module/board_buzz/parameters/bluetooth_power_on
    chmod 0660 /sys/module/board_buzz/parameters/bluetooth_power_on

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/serial_lock_cpu
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/serial_lock_cpu

    chown system system /sys/module/serial/parameters/modem_enabled
    chown system system /dev/ttyHSUSB0
    chown system system /dev/smd9

    # Enable low memory killer to check file pages
    write /sys/module/lowmemorykiller/parameters/minfile 0,0,0,5120,5632,6144
    write /sys/module/lowmemorykiller/parameters/check_filepages 1
    
    # Boot animation
	mkdir /data/local/bootanimation 0777 shell shell

on property:init.svc.wpa_supplicant=stopped
    start dhcp-release

on property:init.svc.dhcp-release=stopped
    stop dhcpcd

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
#   user wifi
#   group wifi inet
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd /system/bin/dhcpcd -BKL -d eth0
    disabled
    oneshot

service dhcp-release /system/bin/dhcpcd -k eth0
    disabled
    oneshot

#TODO: Remove hciattach_legacy
#service hciattach /system/bin/hciattach \
#    -n -s 115200 /dev/ttyHS0 texas 4000000 flow
#    user bluetooth
#    group bluetooth net_bt_admin
#    disabled

#service hciattach_legacy /system/bin/hciattach \
#    -n -s 115200 /dev/ttyMSM0 texas 115200 flow
#    user bluetooth
#    group bluetooth net_bt_admin
#    disabled

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 3000000 --patchram /etc/firmware/bcm4329.hcd /dev/ttyHS0
    user bluetooth
    group bluetooth net_bt_admin
    disabled

# Make sure we startup btld before hcid
# Set target address to emulator host loopback IF
# Limit baudrate to 460800 to ensure reliable uart operation
#service btld /system/bin/logwrapper /system/bin/btld -hwtun 10.0.2.2 -hb 460800 3000000 -lpm 1
#service btld /system/bin/logwrapper /system/bin/btld -lpm 1 -hb 3000000
#    user root
#    group bluetooth net_bt_admin
#    disabled
#    oneshot


# bugreport is triggered by the KEY_VOLUMEUP and BTN_ACTION keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 115 272

# for USB internet sharing
service udhcpd /system/bin/udhcpd
	disabled
	oneshot

service netsharing_on /system/bin/netsharing net on
	disabled
	oneshot

service netsharing_off /system/bin/netsharing net off
	disabled
	oneshot

service modem /system/xbin/wireless_modem
    user system
    group system
    disabled

on property:service.modem.enable=1
    start modem

on property:service.modem.enable=0
    stop modem

# compass/accelerometer daemon
service akmd /system/bin/akmd
    user compass
    group compass misc input
